.list{
    
    list-style: none;
    
    
}
.theme-blue:hover{
    background-color: lightblue;
    color:white;
}
.theme-dark:hover{
    background-color: #AAAAAA;
    color:white;
}
.theme-default:hover{
    background-color: orangered;
    color:white;
}
.theme-blue{
    
    color:lightblue;
}
.theme-dark{
   
    color:#AAAAAA;
}
.theme-default{
    
    color:orangered
}
.blog-name{
    font-size: 28px;
    color: inherit;


}
.blog-name:hover{
    text-decoration: underline;
}
.blog-edit:hover{
    text-decoration: underline;
    cursor: pointer;
}

.blog-edit{
    font-size: 15px;
    float: right;
    text-transform: uppercase;
    color: black;
}
.blog-edit img {
    height: 22px;
}
.blog{
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    border-bottom:2px solid gray;
    padding: 10px 30px;
    margin-top: 5px;
}

.owner{
    font-size: 10px;
    float: right;
    text-transform: uppercase;
    
   
}