.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px; 
    float: right;

}
.clicking-zone:hover .arrow{
    border-color: orangered;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin : 8px 0;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 5px 0;
}
.account-content{
    display: none;
 
  
}
.displayed{
    display: block;
    height: auto;
    margin-left: 10px;
}

.settings-icon{
    width: 10%;
    display: inline-block;
    float: right;
    padding-top: 2px;
    padding-right: 2px;
}
.settings-icon:hover{
    width:12%;
    padding-top:0px;
    padding-right: 0;
}

.full-name{
    display:inline-block;
    width: 85%;
    font-size: 16px;
    text-transform: none;
}
.user-info{
   
    margin-top: 10px;
    padding-top:10px;
}
.username{
    font-size: 14px;
    font-style: italic;
    text-transform: none;
}

.sub{
    font-size: 14px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

.log-out {
    color :lightgray;
}