.dash-postslist-container{
   padding-right: 120px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
.upload-btn-wrapper .btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
 
  font-weight: bold;
  width: 100%;
  font-size: 10px;
  height: 40px;
    
  }
  .upload-btn-wrapper .btn:hover{
      cursor: pointer;
  }
  
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .dash-postslist-addpost{
     margin:4px 0;
     margin-bottom: 5px;
     border-bottom: 2px solid #4CAF50;
     padding: 5px 0;
     
  }

  .dash-postslist-addpost form{
    display: grid;
    grid-template-columns: 3fr 12fr 4fr;
  }
  .dash-postslist-addpost form textarea{
    width: 100%;
    resize: none;
    font-family: Gill Sans, sans-serif;
    font-style: italic;
    font-size: 16px;
    padding: 5px;
    border: none;
    height: 30px;

  }

  .dash-postlist-add-btn{
    font-size: 30px;
    color: white;
    background: lightgreen;
    border: none;
    border-radius: 5px;
  }
  .dash-postlist-add-btn.active{
    background: #4CAF50;
  }