.home-container{
    text-align: center;
    padding: 100px;
}
.home-title{
    color: orangered;
    padding: 20px;
    font-size: 40px;
}
.home-description{
    color: #4d4d4d;
    font-size: 30px;
}
.home-join-us{
    padding: 20px;
}