.dash-blog-container {
       
        display: grid;
        grid-template-columns: 18fr 18fr 8fr 6fr 6fr 2fr 2fr;
    
}
.dash-blog-container.up-to-date {
    border-top: 1px solid greenyellow;
}

.dash-blog-postlist{
    
    /*border-bottom: 2px solid greenyellow; 
*/}
.dash-blog-container input,select{
    border: none;
}
.dash-blog-container button{
    background-color: white;
    border: none;
    margin:0 1px;
    color:white;


}
.dash-blog-container .preview-btn{
    background-color: orange;
}
.dash-blog-container .save-btn{
    background-color: #4CAF50;
}
.dash-blog-container button img{
    width:30px;
    height:30px;
}
.blog-path-input{
    text-transform: lowercase;
}
.dash-blog-container input:focus,select:focus{
    outline: none;

}