.table-head{
    background-color: #4d4d4d;
    color: white;
    display: grid;
    grid-template-columns: 18fr 18fr 8fr 16fr;
    text-align: left;
    padding: 10px 5px;
}
.add-blog-form{
    display: grid;
    grid-template-columns: 18fr 18fr 8fr 6fr ;
    border-bottom: 2px solid greenyellow;
    margin:20px 5px;
}
.add-blog-form input,select{
    border:none;
    padding:3px;
}

.add-blog-form .add-btn{
    border:0;
    background-color: #4CAF50;
    color :white;
}
.dash-bloglist-container h1{
    text-align: center;
}