.menu{
    height: 100%;
    width: 100%;
   
    background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	
   
}
.menu-item{
    display: block;
    color: white;
    font-size: 20px;
    border-bottom: 1px solid lightgray;
    padding: 10px 20px;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;
    
    
}
.menu-item:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.active{
    border-left: 4px solid orangered;
}
a{
    text-decoration: none;
}

