.blog-wrapper{
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;

    box-shadow: 0 0 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;

}


/*default theme*/
.blog-wrapper.blog-theme-default{
    background-color: white;
}
.blog-wrapper.blog-theme-default .blog-title{
    background-color: #4d4d4d;
    color: white;
}
.blog-wrapper.blog-theme-default .posts-wrapper .column .post .post-wrapper{
    background-color: orangered;
    color: white;
}
/*blue theme*/
.blog-wrapper.blog-theme-blue{
    background-color: lightblue;
  }
.blog-wrapper.blog-theme-blue .blog-title{
    background-color: #0074D9;
    color: hsla(208, 100%, 85%, 1.0);
}
.blog-wrapper.blog-theme-blue .posts-wrapper .column .post .post-wrapper{
    color: #0074D9;
    background-color: white;
}
/*dark theme*/
.blog-wrapper.blog-theme-dark{
    background-color: black;
  }
.blog-wrapper.blog-theme-dark .blog-title{
    background-color: black;
    color: white;
}
.blog-wrapper.blog-theme-dark .posts-wrapper .column .post .post-wrapper{
    color: black;
    background-color: white;
}

.posts-wrapper{
    margin-top: 1px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    overflow: auto;
    height: 92%
    
}

.plus{
    float:right ;
    margin-right: 20px;
    margin-top : 5px;
    font-size : 30px;
    width: 30px;
    height: 30px;
    font-weight: bold;

}
.plus:hover{
    color:orange;
    cursor: pointer;
}  
  
  /* Create four equal columns that sits next to each other */
.column {
    flex: 32%;
    max-width: 32%;
    padding: 0 4px;
}

.post{
    
    margin-top: 8px;
    margin-bottom: 8px;
    vertical-align: middle;
}
.blog-title{
    position: relative;
    border-radius: 20px;
    display: block;
    height: 8%;
    width: 100%;
    background-color: aliceblue;
    padding-top:10px;
    display: flex;
    justify-content: flex-end;
}
.blog-title h1{
    margin-right: 20%;
}
.search-field{
    display: block;
    width: 20%;
    float: center;
    height: 30px;
    margin-right: 6%;
    margin-top: 5px;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    text-align: left;
}
.search-field::placeholder{
    color:lightblue;
}

  
