.post-wrapper{
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    overflow: hidden;
    
}
.post-img{
    width: 100%
}
.post-desc{
    text-align: center;
    padding: 10px 20px;
}

