
.sidebar{
    float: left;  
    width: 20vw;
    height: 100vh;
}
.searchbar{
    width: 70vw;
    height: 7vh;
    margin-left: 25vw;
    padding-top:30px;
    
    
}
.container{
    
    width: 100vw;
    height: 100vh;
    
    
}
.content{
    
    padding: 0 5vw;
    /* margin-left: 25vw; */
    /* background-color: aqua; */
    width: 70vw;
    height: 98vh;
    padding-top: 2vh;
    overflow: auto;
  
}
