.dash-post-container{
    
    display: grid;
    grid-template-columns: 3fr 12fr 2fr 2fr;

    
}
.dash-post-container button{
    border: none;
    color: white;
    font-size: 16px;
    margin:1px;
    border-radius: 5px;
    
}
.update-btn{
    background-color: #4CAF50;
}
.delete-btn:hover{
    background-color: #f44336;
}
.delete-btn{
    background-color: lightpink;
}
.modified{
    border-bottom: 2px solid yellow;

}
.modified .update-btn{
    background-color: #4CAF50;
}
.up-to-date{
    border-bottom: 2px solid greenyellow;
}
.up-to-date .update-btn{
    background-color: lightgreen;
}
.error{
    border-bottom: 2px solid red;
}
.dash-post-image{
    width: 100%;
    height: 60px;

}
.dash-post-image img{
    width: 100%;
    height: 100%;
}
.dash-post-form{
    width:100%;
    height: 60px;
}
.dash-post-form form {
    
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.dash-post-form form textarea{
    resize: none;
    height: 100%;
    width: 100%;
    font-family: Gill Sans, sans-serif;
    font-style: italic;
    font-size: 16px;
    padding: 10px;
    border: none;

}

